body {
  background-color: #444444;
}

#help-icon {
  position: absolute;
  z-index: 2;
  left: 2em;
  top: 2em;
  width: 0.8em;
  height: 1em;
  background-color: #ffffffaa;
  padding: 1em;
  font-family: monospace;
  font-size: 1.5vmax;
  border-radius: 1em;
  overflow: hidden;
}

#help-icon ul {
  padding: 0;
  padding-left: 1em;
  list-style-type: square;
}

#help-icon:hover, #help-icon:active {
  width: max-content;
  height: max-content;
}
