body {
  background-color: #444444;
}

#help-icon {
  position: absolute;
  z-index: 2;
  left: 2em;
  top: 2em;
  height: 1em;
  width: 0.7em;
  background-color: #ffffffaa;
  padding: 1em;
  font-family: monospace;
  font-size: 14pt;
  border-radius: 1em;
  overflow: hidden;
}

#help-icon ul {
  padding: 0;
  padding-left: 1em;
  list-style-type: square;
}

#help-icon:hover {
  height: 8em;
  width: 25em;

}
